</main>
  <footer>

    <div class="socials">
      <a href="https://www.instagram.com/ojus_kadu_132/" target="_blank"><img src="/images/ig-icon.png">ojus_kadu_132</a>
      <a href="https://github.com/Ojus132" target="_blank"><img src="/images/github-icon.png">Ojus132</a>
    </div>

    <div class="contact">
      <div class="contmail">Email: gamers316ftw@gmail.com</div>
      <div class="contnum">Phone: +91 9356963588</div>
    </div>

  </footer>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>