<%- include("partials/header.ejs") %>

<div class="bg-div-home">
  <div class="home">

    <h1>HOME</h1>
    <h5>Welcome <%= data.username %> </h5>

    <!-- Registered message -->
    <p style="color: yellow;"><%= message %></p>
    
    <a href="/home/adminreg"><button class="btn signupBtn" style="color: white;">Admin Page</button></a>

  </div>
</div>


<%- include("partials/footer.ejs") %>