<%- include("partials/header.ejs") %>

<div class="container">

    <a href="/login" class="btn btn-dark">LOG IN</a>
    <a href="/signup" class="btn btn-dark">SIGN UP</a>

</div>

<%- include("partials/footer.ejs") %>