<%- include("partials/header.ejs") %>


<div class="container">

  <h2>LOG IN</h2>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="LOG IN" class="btn btn-primary">
  </form>
  
  <% if(locals.message){ %>
    <p><%= message %></p>
  <% } %>

</div>


<%- include("partials/footer.ejs") %>