<%- include("partials/header.ejs") %>

<div class="bg-div">

  <button class="back btn">
    <a href="/">
      <img src="/images/backArrow.png" class="backArrow">Back
    </a>
  </button>

  <div class="form">
    <a href="/"><img src="/images/highResLogoBlack.png" class="formLogo"></a>
    <h3>SIGN UP</h3>
    <form action="/signup" method="post">
      <input type="text" name="username" placeholder="Username" required class="inpField">
      <input type="password" name="password" placeholder="Password" required class="inpField">
      <input type="email" name="email" placeholder="Email ID" required class="inpField">
      <input type="submit" value="SIGN UP" class="btn signupBtn">
    </form>

  </div>

  <% if(locals.message){ %>
    <div class="err-msg-div">
      <%= message %>
    </div>
  <% } %>

</div>

<%- include("partials/footer.ejs") %>